# IDEs
.vscode/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual environments
venv/
.venv/

# data from matlab for comparison 
*.mat

# temp outputs
data

# .idx file which created when open GRIB files
.idx

# dotenv environement file 
.env